{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for p in profiles %}
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'post_detail' post.id %}">{{ p.user.username }}</a></h5>
                    </div>
                </div>
            </li>

        {% endfor %}
    </ul>
{% endblock %}